{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ intro }}" />
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <link rel="icon" href="{% static 'plants/images/earth_nature_futaba.png' %}" type="image/x-icon">
    <link href="{% static 'plants/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link rel="icon" href="https://storage.googleapis.com/wildgreenguard/earth_nature_futaba.png" type="image/x-icon">
    <link href="https://shogo82148.github.io/genjyuugothic-subsets/GenJyuuGothic-Regular/GenJyuuGothic-Regular.css" type="text/css" rel="stylesheet"> <!--for GenJyuuGothic font--> 
    <link rel="stylesheet" href="{% static 'plants/css/index.css' %}" /> <!-- 引用外部樣式表 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'plants/css/index.css' %}" />
    <title>WildGreenGuard</title>
</head>
<body>
    
    {% include 'plants/header.html' %}
    {% block content %}{% endblock %}
    
    <!-- javascript libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'plants/lib/wow/wow.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>
    <script>new WOW().init();</script>
    <script src="{% static 'plants/js/main.js' %}"></script>
    <!-- <script type="module" src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/onnxruntime-web@1.15.1/dist/ort.min.js"></script>
    <script src="{% static 'plants/js/onnx.js' %}" defer></script> -->
    <!-- <script src="{% static 'plants/js/worker.js' %}" defer></script> -->

    <!-- <script lang="javascript">
        var workerPath = "{% static 'plants/js/worker.js' %}";
        var modelPath = "{% static 'plants/model/myyolov8.onnx' %}";
        var wasmPath = "{% static 'plants/ort-wasm-simd.wasm' %}"
    </script> -->
    <!-- <script>
        const session = ort.InferenceSession.create('/static/plants/model/yolo.onnx');
    </script> -->
    

</body>
</html>