{% load static %}
<header>
    <!-- Bootstrap 的 navbar 元件 -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">  
            <a class="navbar-brand" href="{% url 'plants:index' %}">
                <img src="{% static 'plants/images/earth_nature_futaba.png' %}" alt="icon" class="title-icon" >
                 WildGreenGuard
            </a>                 
            <!-- 網站標題 -->
            <!-- 切換按鈕，用於小尺寸螢幕上的展開導覽 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 導覽連結列表 -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">{{ real }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'plants:identifier' %}">{{ idplant }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ dt }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'plants:diagram' %}">{{ data }}</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'plants:records' %}">{{ record }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ about }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'plants:developers' %}">{{ dev }}</a></li>
                            <li><a class="dropdown-item" href="{% url 'plants:questions' %}">{{ qa }}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-globe"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'plants:lan_mode' %}?code=chi&next={{ request.path }}">中文</a></li>
                            <li><a class="dropdown-item" href="{% url 'plants:lan_mode' %}?code=en&next={{ request.path }}">English</a></li>
                            <li><a class="dropdown-item" href="{% url 'plants:lan_mode' %}?code=jp&next={{ request.path }}">日本語</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:line_login' %}"><i class="bi bi-line"></i>
                            <img src="{% static 'plants/images/LINE_BRAND_icon.png' %}" alt="icon" class="title-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
