{% extends "plants/base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      {% if image %}
      <img src="{{ image.url }}" id="instance_image">
      {% else %}
      <img src="{% static 'plants/images/no_image_square.jpg' %}" id="display_image">
      {% endif %}
      <form action="{% url 'plants:identifier' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image_input" id="file_label">
          Image
          <input type="file" id="image_input" name="image_input" accept="image/jpeg, image/png, image/jpg"
            style="display: none" onchange="showImg()">
        </label>

        <button type="button" class="btn btn-primary" id="upload_button" onclick="uploadtrigger()">Choose image</button>
        <button type="submit" class="btn btn-success" id="imgbutton" disabled>Confirm</button>
      </form>
    </div>
    <div class="col">

    </div>
  </div>
</div>

<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3">Custom column padding</div>
    </div>
    <div class="col">
      <div class="p-3">Custom column padding</div>
    </div>
  </div>
</div>

{% endblock %}