{% extends "plants/base.html" %}
{% load static %}
{% block content %}

{% if image %}
<img src="{{ image.url }}" id="instance_image">
{% else %}
<img src="{% static 'plants/images/no_image_square.jpg' %}" id="display_image">
{% endif %}
<div>
  <form action="{% url 'plants:identifier' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file">Image</label>
    <input type="file" id="image_input" name="image_input" accept="image/jpeg, image/png, image/jpg">
    <button type="submit" id="imgbutton">確認上傳</button>
  </form>
</div>
{% endblock %}