{% extends "plants/base.html" %}
{% load static %}
{% block content %}

<div class="container text-center mt-3">
  <div class="row align-items-start">
    <div class="row">
        <div class="container d-flex justify-content-center border border-success" style="height: 400px; width: 400px;">
          {% if image %}
          <img src="{{ image }}" id="display_image" class="img-fluid ms-1 w-auto h-auto">
          {% else %}
          <img src="{% static 'plants/images/no_image_square.jpg' %}" id="display_image" class="img-fluid w-auto h-auto">
          {% endif %}
        </div>
      <form action="{% url 'plants:identifier' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image_input" id="file_label">
          Image
          <input type="file" id="image_input" name="image_input" accept="image/jpeg, image/png, image/jpg"
            style="display: none" onchange="showImg()">
        </label>

        <button type="button" class="btn btn-primary" id="upload_button" onclick="uploadtrigger()">Choose image</button>
        <button type="submit" class="btn btn-success" id="imgbutton" disabled>Confirm</button>
      </form>
    </div>
    <div class="row text-center">
      <p>Result</p>
    </div>
  </div>
</div>

{% endblock %}